<h3 class="palette-name">{{name}}</h3>
<div>
  <h4 class="color-group-name">Common colors</h4>
  <ul class="color-palette">
    <li class="color-palette-item"
        *ngFor="let cColor of commonColors"
        [ngStyle]="{ 'background-color': cColor.color }"
        (click)="selectColor(cColor)"></li>
  </ul>
</div>
<div *ngIf="rareColors?.length">
  <h4 class="color-group-name">Rare colors</h4>
  <ul class="color-palette">
    <li class="color-palette-item"
        *ngFor="let rColor of rareColors"
        [ngStyle]="{ 'background-color': rColor.color }"
        (click)="selectColor(rColor)"></li>
  </ul>
</div>
