@import '~reset-css/_reset';
@import "~compass-mixins/lib/_compass";
@import "~ceaser-easing/ceaser-easings";
@import "../../assets/fonts/luzsans-book/luzsans-book";

:host {
  display: inline-block;
  position: relative;
  font-family: "LuzSans-Book";
  color: #FFF;
  float: left;
  margin: 40px;

  &:before {
    content: "";
    width: 320px;
    height: 380px;

    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: black;

    @include simple-transform(1, -6deg, -16px, -32px);
    @include transition(.5s ease);
  }
}

.palette-name {
  font-size: 22px;
  line-height: 1.5;

  position: inherit;
  margin-bottom: 5px;
}

.color-group-name {
  line-height: 1;
  font-size: 16px;
  padding-left: 15px;

  position: relative;
}

.color-palette {
  padding: 10px;
  width: 250px;
  position: relative;

  list-style: none;


  &-item {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 0;
    display: inline-block;

    position: inherit;
    cursor: pointer;
    @include transition(.8s $easeOutCirc);

    &.active {
      border: 2px #FFF solid;
    }
  }
}
