@import "~compass-mixins/lib/_compass";
@import "~compass-mixins/lib/_animate";
@import "~ceaser-easing/ceaser-easings";
@import "../assets/fonts/luzsans-book/luzsans-book";

.hero {
  height: 100%;

  &-body {
    padding: 1rem 1.5rem 2rem;
    flex: 1 1 auto;

    overflow: hidden;
    position: relative;
  }
}

#konami {
  width: 200px;
  height: 200px;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 99999;
  pointer-events: none;
  @include translate(-100%, -50%);

  &.active {
    @include animation(floating 20s linear);
    @include animation-fill-mode(forward)
  }
}

  #Drago,
  #Flam,
  #Koga,
  #MickKiki {
    width: 200px;
    height: 200px;

    float: right;
    @include translateY(-10%);
  }
  #Drago {
    margin-top: -150%;
    background: url("../assets/images/uwu/uwu.png") no-repeat;
    background-size: contain;
    @include animation(floating-bubble 1s ease 0s infinite alternate);
  }
  #Flam {
    margin-top: 100%;
    margin-right: 300%;
    background: url("../assets/images/uwu/flamstickersdrawing.png") no-repeat;
    background-size: cover;
    @include animation(floating-bubble 1s ease 1s infinite alternate);
  }
  #Koga {
    margin-top: -300%;
    margin-right: 600%;
    background: url("../assets/images/uwu/kogatea.png") no-repeat;
    background-size: contain;
    @include animation(floating-bubble 1s ease 0s infinite alternate);
  }
  #MickKiki {
    margin-top: -100%;
    margin-right: 900%;
    background: url("../assets/images/uwu/mickKiki2.png") no-repeat;
    background-size: cover;
    @include animation(floating-bubble 1s ease 1s infinite alternate);
  }

@include keyframes (floating-bubble) {
  from {
    @include translateY(-20%);
  }
  to {
    @include translateY(20%);
  }
}

@include keyframes (floating) {
  from {
    left: 0%;
  }
  to {
    left: calc(280% + 200px);
  }
}
