<section class="hero">
  <div class="hero-head">
    <nav class="navbar"
         role="navigation"
         aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class="navbar-item">
          <span class="title">Sergal Palette</span>
        </h1>

        <a role="button"
           class="navbar-burger burger"
           [ngClass]="{ 'is-active': menuToggle }"
           aria-label="menu"
           aria-expanded="false"
           data-target="navbarBasicExample"
           (click)="menuToggle = !menuToggle;">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample"
           class="navbar-menu"
           [ngClass]="{ 'is-active': menuToggle }">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Type</a>

            <div class="navbar-dropdown">
              <a class="navbar-item"
                  routerLinkActive="is-active"
                  *ngFor="let sergal of sergalData"
                  [routerLink]="['/', sergal.type]">{{sergal.name}}
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light"
                 (click)="aboutToggle = true;">About</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body"
       [@routerAnimation]="getRouteAnimation(route)">
    <router-outlet #route="outlet"></router-outlet>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-dark is-fullwidth">
      <div class="container">
        <ul>
          <li>
            <a class="has-background-dark has-text-white"
               (click)="selectedPalette = 'coat'">Coat</a>
          </li>
          <li>
            <a class="has-background-dark has-text-white"
               (click)="selectedPalette = 'belly'">Belly</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>


<color-palette name="Coat"
               [color-list]="coatColors"
               [selected-color]="selectedCoat"
               *ngIf="isCoatSelected()"
               (onSelect)="selectedCoat = $event"
               (onClose)="closePalette()"></color-palette>
<color-palette name="Belly"
               [color-list]="bellyColors"
               [selected-color]="selectedBelly"
               *ngIf="isBellySelected()"
               (onSelect)="selectedBelly = $event"
               (onClose)="closePalette()"></color-palette>

<div class="modal"
     [ngClass]="{ 'is-active': aboutToggle }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="content">
        <h2 class="title is-4">About this project</h2>
        <p>
          Howdy! I'm Marcos Koga(aka Koga SilverDragon) and did this little project(Which it's just a draft and I want to make improve it later!) after
          <a href="https://telegram.me/Maplesquid"
             target="_blank"
             rel="noopener noreferrer">Drago's</a>
          idea, redesigned by
          <a href="https://telegram.me/FlamSinger"
             target="_blank"
             rel="noopener noreferrer">Flam</a>
          and with fresh new info from
          <a href="https://telegram.me/Tenteraten_CR"
             target="_blank"
             rel="noopener noreferrer">Kiki</a>!
          <br />
          Thanks a lot for the help! 💙</p>
        <p>
          If you have any feedback and/or suggestions,
          <a href="https://telegram.me/KogaSilverDragon"
             target="_blank"
             rel="noopener noreferrer">feel free to poke me on Telegram!</a>
        </p>
        <p class="notification is-info is-light">
          Did you like it?
          <a href="https://ko-fi.com/kogasilverdragon"
             target="_blank"
             rel="noopener noreferrer">Please consider buying me a coffee! ☕</a>
        </p>

        <h3 class="subtitle is-4">What's new?</h3>
        <p>
          Since the majority of accesses were from mobile, I added a CSS framework in order to adapt the whole interface to mobile devices very quickly. So, now it works on smartphones, hooray!
        </p>

        <h2 class="title is-4">More about Vilous</h2>
        <p>
          Vilous - Artwork and Design @
          <a href="http://www.furaffinity.net/user/mick39"
             target="_blank"
             rel="noopener noreferrer">Mick39’s FA</a>
          <br />
          Vilous - Story and Lore @
          <a href="http://www.furaffinity.net/user/Kiki-UMA"
             target="_blank"
             rel="noopener noreferrer">Kiki’s FA</a>
          <br />
          <a href="https://www.patreon.com/mick39"
             target="_blank"
             rel="noopener noreferrer">Mick39’s Patreon</a>
          <br />
          <a href="https://www.patreon.com/Tenteraten"
             target="_blank"
             rel="noopener noreferrer">
            Kiki’s Patreon for Vilous concepts in development
          </a>
          <br />
          <a href="http://vilous.net/"
             target="_blank"
             rel="noopener noreferrer">Vilous official website</a>
          <br />
          <a href="http://vilous.net/wiki/Vilous_Wiki"
             target="_blank"
             rel="noopener noreferrer">Vilous official Wiki</a>
        </p>
      </div>
    </div>
  </div>
  <button class="modal-close is-large"
          aria-label="close"
          (click)="aboutToggle = false;"></button>
</div>

<div id="konami"
     [ngClass]="{ 'active': konamiActive }"
     (konami)="yay()">
  <div id="Drago"></div>
  <div id="Flam"></div>
  <div id="Koga"></div>
  <div id="MickKiki"></div>
</div>
